doctype html
html(class='no-js')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title Web Gauge
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='css/normalize.css')
        link(rel='stylesheet', href='css/style.css')
    body
        canvas(id='gauge', width='500', height='500')
        p Gauge range
        input#gaugeRange
        script(src='bower_components/jquery/dist/jquery.min.js')
        script(src='node_modules/webcomponents.js/webcomponents.min.js')
        script(src='js/gauge.js')
        script(src='js/main.js')