doctype html
html(class='no-js')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title Web Gauge
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='css/normalize.css')
        link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='css/style.css')
    body
        .container
            .row
                .col-md-6.col-md-offset-3
                    canvas(id='gauge', width='500', height='500')
                    form
                        .form-group
                            label(for="gaugeRange") Gauge range
                            input#gaugeRange.form-control(value = 6)
                        .form-group
                            label(for="marksAmount") Marks amount
                            input#marksAmount.form-control(value = 6)
                        .checkbox
                            label
                                input(name='valuesPosition', type='checkbox', value='in')/
                                | Values inside
                        input#draw.btn.btn-default(type='button', value='Draw')
        script(src='bower_components/jquery/dist/jquery.min.js')
        script(src='node_modules/webcomponents.js/webcomponents.min.js')
        script(src='js/gauge.js')
        script(src='js/main.js')